.patient-log__link{
    margin-top: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #38DBFF;
    align-self: center;

}
.patient-log__noAcc{
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    align-self: center;
}