.wardsList__wrapper{
    width: 1400px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    
}
.wardsList__headers{
    width: 100%;    
    display: flex;
    align-items:center;
    margin-left: 70px;
    &__number{
        width: 220px;
        color: var(--main-text-color);
        margin-left: 31px;
    }
    &__floor{
        width: 160px;
        color: var(--main-text-color);
        margin-left: 54px;
    }
    &__department{
        width: 160px;
        color: var(--main-text-color);
        margin-left: 130px;
    }
    &__purpose{
        width: 140px;
        color: var(--main-text-color);
        margin-left: 120px;
    }
    &__placeCount{
        width: 70px;
        color: var(--main-text-color);
        margin-left: 140px;
    }
    &__chief {
        width: 70px;
        color: var(--main-text-color);
        margin-left: 140px;
    }
}
#ward-header-chief {
    margin-left: 120px;
}