.patientsList__wrapper{
    width: 1400px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    
}
.patients-headers{
    width: 100%;    
    display: flex;
    align-items:center;
    margin-left: 70px;
    &__info{
        width: 220px;
        color: var(--main-text-color);
        margin-left: 31px;
    }
    &__phone{
        width: 160px;
        color: var(--main-text-color);
        margin-left: 54px;
    }
    &__speciality{
        width: 160px;
        color: var(--main-text-color);
        margin-left: 130px;
    }
    &__entry-date{
        width: 140px;
        color: var(--main-text-color);
        margin-left: 120px;
    }
    &__salary{
        width: 70px;
        color: var(--main-text-color);
        margin-left: 140px;
    }
}
#patient-header-basic-info{
    width: 220px;
    color: var(--main-text-color);
    margin-left: 31px;
}
#patient-header-phone{
    width: 160px;
    color: var(--main-text-color);
    margin-left: 54px;
}
#patient-header-sex{
    width: 160px;
    color: var(--main-text-color);
    margin-left: 130px;
}
#patient-header-height{
    width: 140px;
    color: var(--main-text-color);
    margin-left: 160px;
}
#patient-header-weight{
    width: 70px;
    color: var(--main-text-color);
    margin-left: 70px;
}