.form-input{
    width: 600px;
    position: relative;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    label{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: var(--main-text-color);
    }
    input{
        width: 50%;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        padding-left: 10px;
        font-size: 18px;
        &:focus{
            outline: none;
            border:1px solid #0562A7;

            
        }
    }
    .error-message{
        color: red;
        font-size: 14px;
    }
}
