.wardItem{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;

    &:hover{
        cursor:pointer;
        
    }
    &__check{
        margin-left: 37px;
    }
    &__number{
        width: 120px;
        margin-left: 41px;
    }
    &__floor{
        width: 120px;
        margin-left: 54px;
    }
    &__department{
        width: 160px;
        margin-left: 130px;
    }
    &__purpose{
        width: 240px;
        margin-left: 120px;
    }
    &__placeCount{
        width: 70px;
        margin-left: 140px;
    }
    &__change{
        margin-left: 30px;
        position: relative;
        display: inline-block;
        &:hover{
            cursor: pointer;
        }
        &:hover .dropdown-content{
            display: flex;
        }
        &__item{
            display: flex;
            width: 100%;
            align-items: center;
            padding: 0 15px;
            height: 50%;
            &:hover{
                background-color: #eeeeee;
            }
            span{
                margin-left: 15px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #8B9399;
            }
            img{
                width: 30px;
            }
        }
    }

    
}

