.filters{
    width: 73vw;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px 0 16px;
    border-width: 1px 0px;
    border-style: solid;
    border-color:  var(--main-text-color);
    margin-left: 10px;
    margin-top: 30px;
    margin: 20px 0 30px 10px;
    &_user-count{
        width: 230px;
        height: 60px;
        border-right: 1px solid var(--main-text-color);;
    }
}
#users_count{
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: var(--secondary-color);

}
#users_type{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--main-text-color);
    margin-left: 20px;

}
.admin-add{
    display: flex;
    flex-direction: column;

    align-items: center;
    position: relative;
    &__inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap:0px;
        margin-top: 20px;
    }
    &__header{
        align-self: center;
        color: var(--secondary-color);
        
    }
    &__input__wrapper{
        width: 300px;
        position: relative;
        height: 80px;
        
        
    }
    &__input__label{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: var(--main-text-color);
    }
    &__input{
        width: 100%;
        height: 35px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        padding-left: 10px;

        font-size: 18px;
        &:focus{
            outline: none;
            border:1px solid #0562A7;

            
        }
        &-error{
            width: 100%;
            height: 35px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 6px;
            padding-left: 10px;

            font-size: 18px;
            border-color: red;
        }
    }
   
}
.error{
    font-size: 14px;
    color: red;
}
.modal_close{
    position: absolute;
    right: 0px;
    top: -10px;
    &:hover{
        cursor: pointer;
    }
}
#delete-many-btn{
    border: none;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    background: none;
    border: 2px solid rgba(37, 179, 158, 1);
    transition: all 0.1s ease;

    img{
        height: 100%;
        transition: all 0.1s ease-out;
        filter: invert(52%) sepia(91%) saturate(334%) hue-rotate(122deg) brightness(94%) contrast(95%);

    }
    &:hover{
        cursor: pointer;
    }
    &:disabled{
        cursor:auto;
        border: none;
        border: 2px solid rgba(37, 179, 158, 0);
        background-color: none;
        img{
            filter: invert(63%) sepia(11%) saturate(222%) hue-rotate(163deg) brightness(89%) contrast(90%);
        }
    }
    
}
.patient-filters{
    
    width: 1505px;
    margin-left: 182px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#clear-many{
    border: none;
    border-radius: 10%;
    width: 30px;
    height: 30px;
    background: none;
    position: absolute;
    top: 130px;
    left: 37px;

    img{
        height: 100%;
        filter: invert(52%) sepia(91%) saturate(334%) hue-rotate(122deg) brightness(94%) contrast(95%);

    }
    &:hover{
        cursor: pointer;
    }
    &:disabled{
        cursor:auto;
        border: none;
        // visibility: hidden;
        background-color: none;
        img{
            filter: invert(63%) sepia(11%) saturate(222%) hue-rotate(163deg) brightness(89%) contrast(90%);
        }
    }
    
}